force-app/main/default/flows/Submit_Mission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Set mission Pending, wait for Mission_Allocation__e, then set Picked and assign pilot.</description>
    <environments>Default</environments>
    <interviewLabel>Submit Mission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Mission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <variables>
        <description>Mission number passed from the Submit Mission button</description>
        <name>var_missionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_missionAllocation</name>
        <dataType>SObject</dataType>
        <objectType>Mission_Allocation__e</objectType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <recordUpdates>
        <name>Update_Mission_to_Pending</name>
        <label>Set Status Pending</label>
        <locationX>80</locationX>
        <locationY>60</locationY>
        <object>Mission__c</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_missionNumber</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Pending</stringValue></value>
        </inputAssignments>
    </recordUpdates>

    <recordUpdates>
        <name>Update_Mission_to_Picked</name>
        <label>Set Status Picked and Assign Pilot</label>
        <locationX>80</locationX>
        <locationY>120</locationY>
        <object>Mission__c</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_missionNumber</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Pilot__c</field>
            <value><elementReference>var_missionAllocation.Contact_Id__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Picked</stringValue></value>
        </inputAssignments>
    </recordUpdates>

    <waits>
        <name>Wait_for_Mission_Allocation</name>
        <label>Wait for Mission Allocation Event</label>
        <locationX>80</locationX>
        <locationY>200</locationY>
        <waitEvents>
            <name>Allocation_Event_Config</name>
            <label>Allocation Event Config</label>
            <eventType>Mission_Allocation__e</eventType>
            <conditionLogic>and</conditionLogic>
            <inputParameters>
                <name>Mission_Number__c</name>
                <value><elementReference>var_missionNumber</elementReference></value>
            </inputParameters>
            <outputParameters>
                <name>Mission_Allocation__e</name>
                <assignToReference>var_missionAllocation</assignToReference>
            </outputParameters>
            <connector>
                <targetReference>Update_Mission_to_Picked</targetReference>
            </connector>
        </waitEvents>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
    </waits>

    <start>
        <locationX>80</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Mission_to_Pending</targetReference>
        </connector>
    </start>
</Flow>